.cards-container {
    display: flex;
    flex-wrap: wrap; /* Assurez-vous que les cards se répartissent sur plusieurs lignes si nécessaire */
    justify-content: center; /* Centre les cards horizontalement */
  }
    .card-restaurants {
      width: 310px;
      height: 231px;
      border-radius: 20px;
      gap: 4px;
      position: relative;
      border-color: #D9D9D9;
      border: 2px solid;
      margin-top: 30px;
      color: $color-inverse;
      background-color: $color-inverse;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
      .img-restaurants {
        width: 310px;
        height: 150px;
        top: -57px;
        left: -3px;
        gap: 0px;
        opacity: 0px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
        image-rendering: auto
      }
        .h3 {
          width: 267px;
          height: 20px;
          top: 190px;
          left: 13px;
          gap: 0px;
          opacity: 0px;
          color: $black-color;
          margin-left: 10px;
          margin-top: 10px;
        }  
        .p {
          width: 247px;
          height: 24px;
          top: 215px;
          left: 13px;
          gap: 0px;
          opacity: 0px;
          color: $black-color;
          margin-left: 10px;
          margin-top: -10px;
        }
          .fa-heart {
            position: absolute; /* Position absolue pour placer l'icône de cœur */
            top: 180px; /* Ajustez cette valeur pour déplacer l'icône verticalement */
            right: 30px; /* Ajustez cette valeur pour déplacer l'icône horizontalement */
            color: #000000;
            font-size: 22px;
            cursor: pointer;
            transition: color 0.3s ease;
          }
          .heart-toggle {
            display: none;
          }
          .heart-toggle:checked + .fa-heart {
            color: transparent;
          }
          .heart-toggle:checked + .fa-heart::before {
            content: '\f004'; /* Unicode for filled heart */
            font-family: 'Font Awesome 5 Free';
            font-weight: 900; /* Font weight for solid icon */
            background: linear-gradient(193.33deg, $primary -11.44%, $secondary 123.93%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }