footer {
    margin-top: 80px;
    background-color: #353535;
    height: 200px;
    h2 {
      width: 137.58px;
      height: 27px;
      font-family: Shrikhand;
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      text-align: left;
      color: #FFFFFF;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .fa-utensils {
      color: #FFFFFF;
      margin-left: 20px;
    }
    ul {
      li  {
        
      } 
    } 
  }
  
  
  .footer-texte {
    width: 168px;
    height: 10px;
    left: 22px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: #FFFFFF;
    margin-top: -20px;
    margin-left: 50px;
  }


  
  
  .footer-texte-2 {
    width: 168px;
    height: 10px;
    left: 22px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 18px;
    margin-top: -7px;
  }

  .footer-content {
    margin-top: -20px;
    background-color: #353535;
    height: 200px;
  }
  
.ohmyfood-texte-footer {
    width: 137.58px;
    height: 27px;
    font-family: Shrikhand;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.footer-logo {
    color: #FFFFFF;
    margin-left: 20px;
}
  

.footer-texte-2 {
    width: 168px;
    height: 10px;
    left: 22px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 18px;
    margin-top: -7px;
}
