.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 375px;
    padding: 0 50px;
    box-sizing: border-box;
}
  
  .paris-section {
    background-color:$dark-grey;
    width: 100%; /* Ajustez la largeur selon vos besoins */
    height: 50px; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    margin-bottom: -20px;
    .location-text {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centre les éléments horizontalement */
      font-weight: 500;
      line-height: 18.75px;
      margin-left: 20px;
    }
  } 

  .resrv-decvr-button {
    background-color: $grey-color-section;
    height: 260px;
    .h2 {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centre les éléments horizontalement */
      justify-content: center; /* Centre les éléments verticalement */
      font-size: 24px;
      font-weight: 700;
      line-height: 28.13px;
      text-align: center; /* Centrer le texte */
      margin-bottom: 90px;
    }
    .h2 > span {
      display: block; /* Pour s'assurer que chaque ligne soit sur une ligne différente */
    }
    .découvrez-des-restau-texte {
      position: absolute;
      align-items: center;
      top: 50%; /* Positionne l'élément à 50% du haut de la page */
      left: 50%; /* Positionne l'élément à 50% de la gauche de la page */
      transform: translate(-50%, -50%); /* Déplace l'élément de moitié de sa largeur et de moitié de sa hauteur vers l'arrière, centrant ainsi l'élément */
      width: 315px;
      height: 46px;
      gap: 0px;
      opacity: 0px;
      margin-top: -90px;
      margin-left: 20px;
  }
    .boutton-explorer-nos-restau {
      width: 70%;
      height: 50px;
      border-radius: 25px;
      background: linear-gradient(193.33deg, $primary -11.44%, $secondary 123.93%);
      border-color: #FF79DA;
      color: $color-inverse;
      font-size: 16px;
      font-weight: bold;
      margin-top: 100px; /* Réduisez l'espacement entre le bouton et le texte précédent */
      margin-left: auto; /* Centrez horizontalement */
      margin-right: auto; /* Centrez horizontalement */
      display: block; /* Assurez-vous que le bouton occupe tout l'espace disponible */
    }
  }

  .resrv-decvr-button {
    background-color: #F6F6F6;
    height: 260px;
    
  } 
  
  .fonctionnement {
    height: 300px;
    height: 300px;
    display: flex; /* Ajoutez cette ligne pour transformer le conteneur en flexbox */
    flex-direction: column; /* Ajustez la direction en colonne pour aligner verticalement */
    align-items: center; /* Centre les éléments verticalement */
  }

  .rectangle-button-container {
    display: flex; /* Transforme les boutons en flexbox */
    justify-content: center; /* Centre les boutons horizontalement */
    align-items: center; /* Centre les boutons verticalement */
  }
  
  .fonctionnement-texte {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    margin-top: 40px;
    margin-left: -160px;
    margin-bottom: 30px;
  } 
  
  #rectangle-fonctionnement-section {
    width: 322.49px;
    height: 72.38px;
    top: 505px;
    left: 32.51px;
    gap: 0px;
    border-radius: 20px ;
    opacity: 0px;
    margin-top: 20px;
    color: #F6F6F6;
    border-color: #F6F6F6;
  }

  .fa-circle {
    margin-left: -160px;
  
  }

  .fa-stack-1x {
    margin-left: -160px;
    margin-top: 4px;
  }

  .mobile-screen-button {
    color:#7e7e7e;
    text-align: left;
    margin-bottom: -15px;
    margin-left: 30px;
  }
  
  .list-ul {
    color:#7e7e7e;
    text-align: left;
    margin-bottom: -15px;
    margin-left: 30px;
  }  
  
  .store {
    color:#7e7e7e;
    text-align: left;
    margin-bottom: -15px;
    margin-left: 30px;
  }  
  
  .txt-fonctionnement-section {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    color: #000000;
  
  }
  
  .restaurants {
    height: 1200px;
    background-color: #F6F6F6;
    margin-top: 110px;
  }

  .restaurants-texte {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.13px;
    margin-top: 40px;
    margin-left: -160px; /* Réduisez cette marge */
    margin-bottom: 30px;
    margin-right: 20px; /* Ajoutez une marge à droite pour créer de l'espace */
}
  .img-restaurants {
    width: 310px;
    height: 150px;
    top: -57px;
    left: -3px;
    gap: 0px;
    opacity: 0px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    image-rendering: auto
    
  }
  
  .card-texte-restaurant-1 {
    width: 267px;
    height: 20px;
    top: 190px;
    left: 13px;
    gap: 0px;
    opacity: 0px;
    color: #000000;
    margin-left: 10px;
    margin-top: 10px;
   
  }  
  
  .card-texte-restaurant-2 {
    width: 247px;
    height: 24px;
    top: 215px;
    left: 13px;
    gap: 0px;
    opacity: 0px;
    color: #000000;
    margin-left: 10px;
    margin-top: -10px;
  }
  
  .card-restaurants {
    position: relative; // Position relative pour que les enfants positionnés soient relativement positionnés à ce conteneur
}

  .fa-heart {
    position: absolute; // Position absolue pour placer l'icône par rapport à son parent
    top: 0; // Aligner l'icône avec le haut de son parent
    right: 0; // Aligner l'icône avec la droite de son parent
    width: 22px;
    height: 22px; // Ajuster la taille de l'icône
    margin-top: 180px; // Ajuster la marge si nécessaire
    margin-right: 20px; // Ajuster la marge si nécessaire
}


/* Menu scss pages restau */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 375px;
  padding: 0 50px;
  box-sizing: border-box;
  .image {
    width: auto;
    height: 275px;
    top: 63px;
    object-fit: cover;
    image-rendering: auto;
  }
  .la-palette-du-goût {
    width: auto;
    height: 1060px;
    background-color: $grey-color-section;
    padding: 20px;
    border-radius: 45px;
    margin-bottom: -80px;
  }
    .h2 {
      font-family: Shrikhand;
      font-size: 28px;
      font-style: italic;
      font-weight: 400;
      line-height: 40.82px;
      text-align: left;
    }    
      .fa-heart {
        color: $black-color;
        width: 22px;
        height: 21px;
      }
    .h3{
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 18.75px;
      text-align: left;
    }
    .rectangle {
      width: 349px;
      height: 69px;
      border-radius: 15.04px;    
      background-color: $grey-color-section;
    }
      .h4 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.09px;
        text-align: left;
        margin-top: 10px;
        margin-bottom: -20px;
      }

      .h5 {
        font-family: Roboto;
        font-size: 15.04px;
        font-weight: 300;
        line-height: 17.63px;
        text-align: left;
      }
      .h6 {
        font-family: Roboto;
        font-size: 15.04px;
        font-weight: 700;
        line-height: 17.63px;
        text-align: left; /* Alignement à gauche */
        margin-top: -40px;
        margin-left: 300px;
      }
    .boutton-commander {
      width: 186px;
      height: 50px;
      margin-top: 50px;
      border-radius: 25px;
      background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
      border-color: $secondary;
      margin-left: 50px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 18.75px;
      text-align: center;
      color: #FFFFFF;

    }
}
