@charset "UTF-8";
/****** General ***********/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.logo,
.header-title {
  font-family: "Shrikhand", cursive;
}

header {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-title {
  font-style: italic;
  font-family: "Shrikhand", cursive; /* Assurez-vous que le titre utilise la police Shrikhand */
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
}
main .paris-section {
  background-color: #EAEAEA;
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height: 50px; /* Ajustez la hauteur selon vos besoins */
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  padding: 10px 0;
  gap: 1em;
}
main .reservez-découvrez-txt {
  background-color: #F6F6F6;
  height: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments horizontalement */
  justify-content: center; /* Centre les éléments verticalement */
}
main .reservez-découvrez-txt .réservez-le-menu-texte {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: center; /* Centrer le texte */
  margin-bottom: 50px; /* Ajustez la marge selon vos besoins */
  max-width: 240px;
}
main .reservez-découvrez-txt .découvrez-des-restau-texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: -30px;
}
main .a {
  text-decoration: none;
}
main .boutton-explorer-nos-restau {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 1em;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-color: #FF79DA;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  margin-top: 100px; /* Réduisez l'espacement entre le bouton et le texte précédent */
  margin-left: auto; /* Centrez horizontalement */
  margin-right: auto; /* Centrez horizontalement */
  display: block; /* Assurez-vous que le bouton occupe tout l'espace disponible */
  font-weight: bold;
  margin-top: -50px;
}

.fonctionnement {
  height: 300px;
  display: flex; /* Ajoutez cette ligne pour transformer le conteneur en flexbox */
  flex-direction: column; /* Ajustez la direction en colonne pour aligner verticalement */
  align-items: center; /* Centre les éléments verticalement */
}
.fonctionnement .fonctionnement-texte {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  margin-top: 40px;
  margin-left: -160px;
  margin-bottom: 30px;
}
.fonctionnement .rectangle-button-container {
  display: flex; /* Transforme les boutons en flexbox */
  justify-content: center; /* Centre les boutons horizontalement */
  align-items: center; /* Centre les boutons verticalement */
}
.fonctionnement .rectangle-button-container #rectangle-fonctionnement-section {
  width: 322.49px;
  height: 72.38px;
  top: 505px;
  left: 32.51px;
  gap: 0px;
  border-radius: 20px;
  opacity: 0px;
  margin-top: 20px;
  color: #F6F6F6;
  border-color: #F6F6F6;
}
.fonctionnement .rectangle-button-container #rectangle-fonctionnement-section .élément-nombre {
  color: #9356DC;
}
.fonctionnement .rectangle-button-container #rectangle-fonctionnement-section .fa-circle {
  margin-left: -160px;
}
.fonctionnement .rectangle-button-container #rectangle-fonctionnement-section .fa-stack-1x {
  margin-left: -160px;
  margin-top: 4px;
  color: #FFFFFF;
}
.fonctionnement .rectangle-button-container #rectangle-fonctionnement-section .mobile-screen-button {
  color: #7e7e7e;
  text-align: left;
  margin-bottom: -15px;
  margin-left: 30px;
}
.fonctionnement .rectangle-button-container #rectangle-fonctionnement-section .list-ul {
  color: #7e7e7e;
  text-align: left;
  margin-bottom: -15px;
  margin-left: 30px;
}
.fonctionnement .rectangle-button-container #rectangle-fonctionnement-section .store {
  color: #7e7e7e;
  text-align: left;
  margin-bottom: -15px;
  margin-left: 30px;
}
.fonctionnement .rectangle-button-container #rectangle-fonctionnement-section .txt-fonctionnement-section {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: #000000;
}

.restaurants {
  height: 1350px;
  background-color: #F6F6F6;
  margin-top: 110px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurants .restaurants-texte {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left !important;
}
.restaurants .cards-container {
  display: flex;
  flex-direction: column; /* Change pour une disposition en colonne */
  align-items: center; /* Centre les cartes horizontalement */
  gap: 30px; /* Ajoute un espace entre les cartes */
}
.restaurants .cards-container .link {
  text-decoration: none;
}
.restaurants .cards-container .card-restaurants {
  width: 310px;
  height: 231px;
  border-radius: 20px;
  gap: 4px;
  border-color: #d9d9d9;
  border: 2px solid;
  margin-top: 30px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.restaurants .cards-container .card-restaurants img {
  width: 310px;
  height: 150px;
  gap: 0px;
  opacity: 1;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: auto;
  z-index: 100;
  margin-top: -70px;
}
.restaurants .cards-container .card-restaurants .nouveau-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  z-index: 100;
}
.restaurants .cards-container .card-restaurants .card-texte-restaurant-1 {
  color: #000000;
  font-weight: 700;
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin-top: 150px;
}
.restaurants .cards-container .card-restaurants .card-texte-restaurant-2 {
  color: #000000;
  text-decoration: none;
  padding-left: 0.5em;
}
.restaurants .cards-container .card-restaurants .fa-heart {
  position: absolute; /* Position absolue pour placer l'icône de cœur */
  top: 180px; /* Ajustez cette valeur pour déplacer l'icône verticalement */
  right: 30px; /* Ajustez cette valeur pour déplacer l'icône horizontalement */
  color: #000000;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.restaurants .cards-container .card-restaurants .heart-toggle {
  display: none;
}
.restaurants .cards-container .card-restaurants .heart-toggle:checked + .fa-heart {
  color: transparent;
}
.restaurants .cards-container .card-restaurants .heart-toggle:checked + .fa-heart::before {
  content: "\f004"; /* Unicode for filled heart */
  font-family: "Font Awesome 5 Free";
  font-weight: 900; /* Font weight for solid icon */
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: initial;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
  width: 100%;
}
footer h2 {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  text-align: center; /* Centre le texte horizontalement */
  color: #FFFFFF;
  margin-top: 0;
  margin-left: 20px;
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  padding: 0; /* Enlève le padding par défaut */
  margin: 0; /* Enlève la marge par défaut */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement les éléments de la liste */
}
footer ul li {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center; /* Centre le texte horizontalement */
  color: #FFFFFF;
  line-height: 30px;
}
footer ul li a {
  color: #FFFFFF;
  padding-left: 0;
  margin-left: 0;
  text-decoration: none;
}
footer ul li .fa-solid {
  color: #FFFFFF;
  margin-right: 3px;
}

/* Styles pour les desktops */
@media (min-width: 1025px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
  }
  .fonctionnement .fonctionnement-texte {
    margin-top: -70px !important;
    margin-left: -70px;
  }
  .rectangle-button-container {
    width: 30%;
    margin-right: 20px;
  }
  .réservez-le-menu-texte {
    max-width: 1000px !important;
    margin-top: -60px;
  }
  .restaurants {
    margin-top: -30px;
  }
  .fa-1 {
    margin-right: 30px;
  }
  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.logo, .header-title {
  font-family: "Shrikhand", cursive;
}

.header {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em !important;
}
.header .back-arrow {
  position: relative;
  font-size: 1.5rem; /* Ajustez la taille selon vos besoins */
  text-decoration: none;
  margin-bottom: -15px;
}
.header .header-title {
  font-style: italic;
  font-family: "Shrikhand", cursive; /* Assurez-vous que le titre utilise la police Shrikhand */
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.5em;
}

/* Animation page loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader.hidden {
  display: none;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #9356DC;
  width: 120px;
  height: 120px; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation aparrition progressive */
.restaurant-classe .rectangle {
  opacity: 0;
  animation: fadeIn 3s forwards;
  animation-delay: var(--animation-delay);
}

.restaurant-classe .rectangle:nth-child(1) {
  --animation-delay: 0.5s;
}

.restaurant-classe .rectangle:nth-child(2) {
  --animation-delay: 1s;
}

.restaurant-classe .rectangle:nth-child(3) {
  --animation-delay: 1.5s;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-width: 375px;
}
main img {
  width: 100%; /* Ajustez cette valeur pour changer la largeur */
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  box-sizing: border-box;
  margin: 0;
  position: absolute; /* Ajouté */
  top: 70px; /* Ajustez si nécessaire */
  left: 50%; /* Centré horizontalement */
  transform: translateX(-50%); /* Centré horizontalement */
  z-index: -1;
}
main .restaurant-classe {
  width: 100vw;
  height: auto;
  background-color: #F6F6F6;
  padding: 20px;
  border-radius: 50px 50px 0 0;
  margin-bottom: -80px;
  position: relative; /* Assurez que la section est positionnée correctement */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
  margin: 0;
  margin-top: 195px;
}
main .restaurant-classe .title-heart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Espace entre le titre et l'icône du cœur */
}
main .restaurant-classe .title-heart-container h2 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: italic;
  font-weight: 400;
  line-height: 40.82px;
  padding-right: 70px !important;
}
main .restaurant-classe .title-heart-container .fa-heart {
  position: absolute; /* Position absolue pour placer l'icône de cœur */
  top: 55px; /* Ajustez cette valeur pour déplacer l'icône verticalement */
  right: 40px; /* Ajustez cette valeur pour déplacer l'icône horizontalement */
  color: #000000;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s ease;
}
main .restaurant-classe .title-heart-container .heart-toggle {
  display: none;
}
main .restaurant-classe .title-heart-container .heart-toggle:checked + .fa-heart {
  color: transparent;
}
main .restaurant-classe .title-heart-container .heart-toggle:checked + .fa-heart::before {
  content: "\f004"; /* Unicode for filled heart */
  font-family: "Font Awesome 5 Free";
  font-weight: 900; /* Font weight for solid icon */
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main .restaurant-classe h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
  margin-bottom: 5px;
}
main .restaurant-classe .repas-titre {
  margin-right: auto;
  margin-bottom: -15px;
}
main .restaurant-classe .line-bar {
  width: 35px;
  border: 3px 0px 0px 0px;
  border: 2px solid #99E2D0;
  margin-right: auto;
}
main .restaurant-classe .rectangle {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  padding: 10px !important;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  width: 95% !important;
  position: relative;
  overflow: hidden;
}
main .restaurant-classe .rectangle .rectangle-texte-1 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}
main .restaurant-classe .rectangle .rectangle-texte-2 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
}
main .restaurant-classe .rectangle .rectangle::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%; /* Commence caché sur le côté droit */
  height: 100%; /* Hauteur égale à celle du rectangle */
  background-color: #99E2D0; /* Couleur verte spécifiée */
  transition: right 0.5s ease-in-out; /* Animation fluide pour dévoiler le carré */
}
main .restaurant-classe .rectangle .rectangle:hover::after {
  right: 0; /* Dévoile le carré en le déplaçant vers la gauche */
}
main .restaurant-classe .rectangle .prix {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 40px;
  color: #000;
  transition: right 0.5s ease-in-out; /* Animer le déplacement du prix */
}
main .restaurant-classe .rectangle .rectangle:hover .prix {
  right: 120px; /* Déplace le prix vers la gauche lorsque survolé */
}
main .restaurant-classe .boutton-commander {
  width: 186px;
  height: 50px;
  margin-top: 10px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-color: #FF79DA;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: #FFFFFF;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Centre verticalement le contenu */
  background-color: #353535;
  padding: 20px;
  width: 100vw;
  margin-top: 0px;
}
footer h2 {
  font-family: Shrikhand;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  text-align: center; /* Centre le texte horizontalement */
  color: #FFFFFF;
  margin-top: 0;
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  padding: 0; /* Enlève le padding par défaut */
  margin: 0; /* Enlève la marge par défaut */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement les éléments de la liste */
}
footer ul li {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center; /* Centre le texte horizontalement */
  color: #FFFFFF;
  line-height: 30px;
}
footer ul li a {
  color: #FFFFFF;
  padding-left: 0;
  margin-left: 0;
  text-decoration: none;
}
footer ul li .fa-solid {
  color: #FFFFFF;
  margin-right: 3px;
}

/* Styles pour les desktops */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  .logo, .header-title {
    font-family: "Shrikhand", cursive;
  }
  .header {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em !important;
  }
  .header .back-arrow {
    position: relative;
    font-size: 2rem; /* Ajustez la taille selon vos besoins */
    text-decoration: none;
    margin-bottom: -15px;
  }
  .header .header-title {
    font-style: italic;
    font-family: "Shrikhand", cursive; /* Assurez-vous que le titre utilise la police Shrikhand */
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 0em;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  main img {
    width: 100%; /* Ajustez cette valeur pour changer la largeur */
    height: 275px;
    -o-object-fit: cover;
       object-fit: cover;
    box-sizing: border-box;
    margin: 0;
    position: absolute; /* Ajouté */
    top: 70px; /* Ajustez si nécessaire */
    left: 50%; /* Centré horizontalement */
    transform: translateX(-50%); /* Centré horizontalement */
    z-index: -1;
  }
  main .restaurant-classe {
    width: 80%;
    height: auto !important;
    background-color: #F6F6F6;
    padding: 20px;
    border-radius: 30px;
    margin-top: 140px;
    margin-bottom: -80px;
    position: relative; /* Assurez que la section est positionnée correctement */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 155px;
  }
  main .restaurant-classe .title-heart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espace entre le titre et l'icône du cœur */
  }
  main .restaurant-classe .title-heart-container h2 {
    font-family: Shrikhand;
    font-size: 28px;
    font-style: italic;
    font-weight: 400;
    line-height: 40.82px;
  }
  main .restaurant-classe .title-heart-container .fa-heart {
    position: absolute; /* Position absolue pour placer l'icône de cœur */
    top: 55px; /* Ajustez cette valeur pour déplacer l'icône verticalement */
    right: 260px; /* Ajustez cette valeur pour déplacer l'icône horizontalement */
    color: #000000;
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  main .restaurant-classe .title-heart-container .heart-toggle {
    display: none;
  }
  main .restaurant-classe .title-heart-container .heart-toggle:checked + .fa-heart {
    color: transparent;
  }
  main .restaurant-classe .title-heart-container .heart-toggle:checked + .fa-heart::before {
    content: "\f004"; /* Unicode for filled heart */
    font-family: "Font Awesome 5 Free";
    font-weight: 900; /* Font weight for solid icon */
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  main .restaurant-classe h3 {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    text-align: left;
    margin-bottom: 5px;
  }
  main .restaurant-classe .repas-titre {
    margin-right: 700px !important;
  }
  main .restaurant-classe .line-bar {
    width: 35px;
    border: 3px 0px 0px 0px;
    border: 2px solid #99E2D0;
    margin-right: 700px !important;
  }
  main .restaurant-classe .rectangle {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    padding: 20px !important;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
    width: 70% !important;
    position: relative;
  }
  main .restaurant-classe .rectangle .rectangle-texte-1 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  main .restaurant-classe .rectangle .rectangle-texte-2 {
    font-size: 15.04px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  main .restaurant-classe .rectangle .prix {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    right: 20px;
    top: 40px;
    color: #000;
  }
  main .restaurant-classe .boutton-commander {
    width: 186px;
    height: 50px;
    margin-top: 50px;
    border-radius: 25px;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border-color: #FF79DA;
    margin-left: 50px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: center;
    color: #FFFFFF;
  }
  footer {
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 25px 30px 25px 30px;
    background-color: #353535;
    display: flex;
  }
  footer h2 {
    font-family: Shrikhand;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
    padding-left: 150px !important;
  }
  footer .fa-solid {
    color: #FFFFFF;
    margin-right: 3px;
  }
  footer ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
  }
  footer ul li {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.75px;
    text-align: left;
    color: #FFFFFF;
    line-height: 30px;
  }
  footer ul li a {
    color: #FFFFFF;
    padding-left: 0;
    margin-left: 0;
    text-decoration: none;
  }
}/*# sourceMappingURL=style.css.map */