.cards-container {
    display: flex;
    flex-wrap: wrap; /* Assurez-vous que les cards se répartissent sur plusieurs lignes si nécessaire */
    justify-content: center; /* Centre les cards horizontalement */
  }
  
  .card-restaurants {
      width: 310px;
      height: 231px;
      border-radius: 20px;
      gap: 4px;
      position: relative;
      border-color: #D9D9D9;
      border: 2px solid;
      margin-top: 30px;
      color: white;
      background-color: #FFFFFF;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
  }