.header {

  
  content {
  display: flex;
  align-items: center; /* Centre les éléments horizontalement */
  justify-content: center; /* Centre le contenu horizontalement */
  }
  title {
    display: flex;
    align-items: center;
    width: 162px;
    height: 44px;
    font-style: italic;
  }
}